/* guestbook index */

#guestbook .guestbook-element {
    border: 1px solid #bbb;
    margin: 10px;
    padding: 5px;
}

#guestbook span.title {
    font-variant: small-caps;
}

#guestbook div.link a {
    font-variant: small-caps;
}

/* guestbook form fields */

#guestbook .text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
}

#guestbook .value {
    margin-left: 10px;
}